extends ./_base/_layout.pug
block vars
  - var metaTitle = 'Home'
  - var path = '.'
  - var page = 'top'
  - var imgPC = path + '/resources/images/top/'
  - var imgSP = path + '/resources/images/top/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

block content
  section.p-visual-top
    .u-wrapper
      .p-banner-top-visual
        .p-banner-top-visual__wrapper.u-display-pc
          h1.p-banner-top-visual__logo
            img.u-image(src=imgPC+"logo_visual_01.png" alt="Logo")
          .p-banner-top-visual__background
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_01.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_02.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_03.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_04.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_05.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_06.png" alt="")
        .p-banner-top-visual__wrapper.u-display-sp
          img.u-image(src=imgSP+"logo_visual_01.png" alt="Logo")
      ul.p-list-top-system
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_01.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Download on the
                span.p-button-top-system__label-main App Store
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_02.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Get it on
                span.p-button-top-system__label-main Google Play
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_03.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Download for
                span.p-button-top-system__label-main Windows
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_04.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Download
                span.p-button-top-system__label-main APK
      a.p-button-top-highlight(href="#" target="_blank" rel="noopener")
        .p-button-top-highlight__wrapper
          span.p-button-top-highlight__label TẢI NGAY
  section.p-section-top-about
    h2.c-title-primary.is-align-left
      span.c-title-primary__wrapper Giới thiệu nhân vật
    .c-slider-character.js-slider-simple
      .c-slider-character__viewport.swiper
        .c-slider-character__wrapper.swiper-wrapper
          +slideCommonCharacter({
            id: "01",
            cardCharacter: [
              {attributes: {class: "is-overview"}, label: "Khái quát<span class=\"c-card-character__label-extra u-display-sp\">Thông tin nhân vật</span>", detail: "Gukku nổi bật với bộ kỹ năng tiếp cận mạnh mẽ, sát thương vật lý vượt trội, giúp cậu trở thành chiến binh trâu bò hàng đầu trong mọi trận chiến"},
              {attributes: {class: "is-style"}, label: "Lối chơi", detail: "Nhân vật này thuộc thể loại đấu sĩ với sức mạnh bền bỉ với nguốn sát thương lớn"},
            ],
            sliderSkills: [
              [
                {icon: {src: imgCommonPC+"icon_skills_01_01.png", alt: "", caption: "1"}, title: {tag: "span", content: "Kamehame"}, description: "Là đòn tích tụ và phóng ra luồng năng lượng cực mạnh từ hai bàn tay"},
                {icon: {src: imgCommonPC+"icon_skills_01_02.png", alt: "", caption: "2"}, title: {tag: "span", content: "Soaring Fist"}, description: "Người sử dúng áp sát rồi tùng lắm đấm tiêu diệt kẻ thù"},
                {icon: {src: imgCommonPC+"icon_skills_01_03.png", alt: "", caption: "3"}, title: {tag: "span", content: "Great Ape"}, description: "Goku hoá thành khỉ đột tăng 1 lượng lớn sức mạnh cho bản thân"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_01_04.png", alt: "", caption: "4"}, title: {tag: "span", content: "Liên hoàn kích"}, description: "Tung những cú đấm liên hoàn tấn công các đối thủ trong thời gian ngắn"},
                {icon: {src: imgCommonPC+"icon_skills_01_05.png", alt: "", caption: "5"}, title: {tag: "span", content: "Khiên năng lượng"}, description: "Tạo ra lớp khiên bảo vệ bản thân và tăng giáp đáng kể"},
                {icon: {src: imgCommonPC+"icon_skills_01_06.png", alt: "", caption: "6"}, title: {tag: "span", content: "Qủa cầu Genki"}, description: "Tạo quả cầu genki khổng lổ ném vào kẻ địch gây sát thương diện rộng"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_01_07.png", alt: "", caption: "1"}, title: {tag: "span", content: "Siêu Sayyan 1"}, description: "Biến hình thành Siêu Sayyan 1 giúp tăng đột phá chỉ số trong thời gian nhất định"},
                {icon: {src: imgCommonPC+"icon_skills_01_08.png", alt: "", caption: "2"}, title: {tag: "span", content: "Siêu Sayyan 2"}, description: "Biến hình thành Siêu Sayyan 2 giúp khuếch đại toàn bộ chỉ số chiến đấu"},
                {icon: {src: imgCommonPC+"icon_skills_01_09.png", alt: "", caption: "3"}, title: {tag: "span", content: "Siêu Sayyan 3 "}, description: "Biến hình thành Siêu Sayyan 3 giúp nâng giới hạn năng lượng và gia tăng sát thương vượt trội"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_01_10.png", alt: "", caption: "4"}, title: {tag: "span", content: "Siêu Sayyan 4"}, description: "Biến hình thành Siêu Sayyan 4 giúp khai phá sức mạnh phản sát thương"},
                {icon: {src: imgCommonPC+"icon_skills_01_11.png", alt: "", caption: "5"}, title: {tag: "span", content: "Siêu Sayyan God"}, description: "Khai mở sức mạnh Thần Sayyan God giải phóng nguồn năng lượng vô biên vượt giới hạn phàm nhân"},
                {icon: {src: imgCommonPC+"icon_skills_01_12.png", alt: "", caption: "6"}, title: {tag: "span", content: "Thần Sayyan Blue"}, description: "Thức tỉnh Thần Sayyan Blue đạt đến trạng thái cân bằng hoàn hảo giữa thể chất và thần lực"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_01_13.png", alt: "", caption: "7"}, title: {tag: "span", content: "Ultra Instinct"}, description: "Khai mở trạng thái Ultra Instinct đạt đến giới hạn phản xạ hoàn hảo và tốc độ vô song"},
              ],
            ],
            thumbnail: {src: imgCommonPC+"visual_character_01.png", alt: ""},
            title: "Goku",
          }).is-goku
          +slideCommonCharacter({
            id: "02",
            cardCharacter: [
              {attributes: {class: "is-overview"}, label: "Khái quát<span class=\"c-card-character__label-extra u-display-sp\">Thông tin nhân vật</span>", detail: "Chiến binh Nameec lạnh lùng và đầy mưu lược. Pocolo sử dụng sức mạnh năng lượng vượt trội cùng các chiêu thức yểm trợ đồng đội, hóa khổng lồ và khống chế đối thủ. Dù thiên về hỗ trợ, Pocolo vẫn cực kỳ dẻo dai trong mọi trận chiến"},
              {attributes: {class: "is-style"}, label: "Lối chơi", detail: "Nhân vật này thuộc chiến binh chiến thuật, gây sát thương năng lượng ổn định kết hợp khống chế và hồi phục."},
            ],
            sliderSkills: [
              [
                {icon: {src: imgCommonPC+"icon_skills_04_01.png", alt: "", caption: "1"}, title: {tag: "span", content: "Xoáy năng lượng"}, description: "Tụ năng lượng vào 2 ngón tay rồi bắn luồng tia xoáy gây sát thương cực lớn"},
                {icon: {src: imgCommonPC+"icon_skills_04_02.png", alt: "", caption: "2"}, title: {tag: "span", content: "Trị thương"}, description: "Dùng để trị thương cho bản thân và đồng đội"},
                {icon: {src: imgCommonPC+"icon_skills_04_03.png", alt: "", caption: "3"}, title: {tag: "span", content: "Tay trói buộc"}, description: "Vươn cánh tay dài chói buộc kẻ địch"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_04_04.png", alt: "", caption: "4"}, title: {tag: "span", content: "Điện tâm kích"}, description: "Phóng ra luồng điện từ gây tê liệt kẻ địch xung quanh"},
                {icon: {src: imgCommonPC+"icon_skills_04_05.png", alt: "", caption: "5"}, title: {tag: "span", content: "Cường đại "}, description: "Dùng để cường đại bản thân giúp tăng cường sức mạnh"},
                {icon: {src: imgCommonPC+"icon_skills_04_06.png", alt: "", caption: "6"}, title: {tag: "span", content: "Vụ nổ tinh tú"}, description: "Tạo quả cầu năng lượng lớn tấn công kẻ địch"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_04_07.png", alt: "", caption: "1"}, title: {tag: "span", content: "Pocolo Form Thứ 2"}, description: "Biến hình thành Pocolo Form Thứ 2 giúp ổn định sức mạnh và tăng khả năng hút KI"},
                {icon: {src: imgCommonPC+"icon_skills_04_08.png", alt: "", caption: "2"}, title: {tag: "span", content: "Pocolo Hợp Nhất"}, description: "Biến hình thành Pocolo Hợp Nhất giúp tăng sức mạnh thể chất năng lượng lẫn hút KI"},
                {icon: {src: imgCommonPC+"icon_skills_04_09.png", alt: "", caption: "3"}, title: {tag: "span", content: "Pocolo Siêu Hợp Nhất"}, description: "Biến hình thành Pocolo Siêu Hợp Nhất giúp đạt đến sức mạnh tâm linh và hút KI tối đa"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_04_10.png", alt: "", caption: "4"}, title: {tag: "span", content: "Pocolo Cường Hóa"}, description: "Biến hình thành Pocolo Cường Hóa giúp tăng mạnh sức bền và khả năng tấn công liên tục"},
                {icon: {src: imgCommonPC+"icon_skills_04_11.png", alt: "", caption: "5"}, title: {tag: "span", content: "Orange Pocolo"}, description: "Kích hoạt sức mạnh Orange Pocolo khiến năng lượng phủ toàn thân và tăng toàn diện chỉ số"},
                {icon: {src: imgCommonPC+"icon_skills_04_12.png", alt: "", caption: "6"}, title: {tag: "span", content: "Pocolo Quỷ Vương"}, description: "Kích hoạt Pocolo Quỷ Vương đạt hình thái mạnh bạo với sức mạnh và kháng cự vượt trội"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_04_13.png", alt: "", caption: "7"}, title: {tag: "span", content: "Thần Pocolo Power"}, description: "Khai triển Thần Pocolo Power hợp nhất sức mạnh thần thánh và năng lượng cổ đại"},
              ],
            ],
            thumbnail: {src: imgCommonPC+"visual_character_04.png", alt: ""},
            title: "Pocolo",
          }).is-pocolo
          +slideCommonCharacter({
            id: "03",
            cardCharacter: [
              {attributes: {class: "is-overview"}, label: "Khái quát<span class=\"c-card-character__label-extra u-display-sp\">Thông tin nhân vật</span>", detail: "Hoàng đế độc tài của vũ trụ. Frizar sở hữu sức mạnh năng lượng xuyên phá mọi vật cản cùng khả năng thăng tiến không giới hạn, khiến hắn trở thành đối thủ tàn bạo và gần như bất khả chiến bại"},
              {attributes: {class: "is-style"}, label: "Lối chơi", detail: "Nhân vật này thuộc chiến binh sát thủ, chuyên gây sát thương năng lượng bùng nổ và kết liễu mục tiêu nhanh chóng."},
            ],
            sliderSkills: [
              [
                {icon: {src: imgCommonPC+"icon_skills_05_01.png", alt: "", caption: "1"}, title: {tag: "span", content: "Tia tử thần"}, description: "Bắn loạt tia lazer vào kẻ địch gây sát thương"},
                {icon: {src: imgCommonPC+"icon_skills_05_02.png", alt: "", caption: "2"}, title: {tag: "span", content: "Bạo kích"}, description: "Lao vào vị trí mục tiêu gây sát thương lớn"},
                {icon: {src: imgCommonPC+"icon_skills_05_03.png", alt: "", caption: "3"}, title: {tag: "span", content: "Năng lượng tâm linh"}, description: "Dùng năng lượng tâm linh khống chế mục tiêu từ xa"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_05_04.png", alt: "", caption: "4"}, title: {tag: "span", content: "Liên hoàn kích"}, description: "Là đòn tích tụ và phóng ra luồng năng lượng cực mạnh từ hai bàn tay"},
                {icon: {src: imgCommonPC+"icon_skills_05_05.png", alt: "", caption: "5"}, title: {tag: "span", content: "Nhát chém tử vong"}, description: "Tạo 1 nhát cắt lớn xuyên thấu kẻ địch"},
                {icon: {src: imgCommonPC+"icon_skills_05_06.png", alt: "", caption: "6"}, title: {tag: "span", content: "Qủa cầu tử thần"}, description: "Ném 1 quả cầu tử thần tấn công kẻ địch gây sát thương diện rộng"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_05_07.png", alt: "", caption: "1"}, title: {tag: "span", content: "Frizar Form Thứ 2"}, description: "Biến hình thành Frizar Form Thứ 2 giúp nâng cao sức mạnh tổng thể và xuyên giáp"},
                {icon: {src: imgCommonPC+"icon_skills_05_08.png", alt: "", caption: "2"}, title: {tag: "span", content: "Frizar Tiến Hóa"}, description: "Biến hình thành Frizar Tiến Hóa giúp gia tăng sức mạnh chiến đấu và khả năng xuyên giáp mọi mục tiêu"},
                {icon: {src: imgCommonPC+"icon_skills_05_09.png", alt: "", caption: "3"}, title: {tag: "span", content: "Frizar Siêu Tiến Hóa"}, description: "Biến hình thành Frizar Siêu Tiến Hóa giúp đạt sức mạnh vượt trội về xuyên giáp"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_05_10.png", alt: "", caption: "4"}, title: {tag: "span", content: "Frizar Power"}, description: "Biến hình thành Frizar Power giúp đạt hình thái tối ưu và gia tăng sát thương lên quái, boss"},
                {icon: {src: imgCommonPC+"icon_skills_05_11.png", alt: "", caption: "5"}, title: {tag: "span", content: "Golden Frizar"}, description: "Biến hình thành Golden Frizar giải phóng năng lượng rực rỡ và tăng sức mạnh tuyệt đối"},
                {icon: {src: imgCommonPC+"icon_skills_05_12.png", alt: "", caption: "6"}, title: {tag: "span", content: "Black Frizar"}, description: "Biến hình thành Black Frizar khiến năng lượng hắc ám trỗi dậy và tăng sức mạnh chiến đấu cực đại"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_05_13.png", alt: "", caption: "7"}, title: {tag: "span", content: "Frizar Thần Hủy Diệt"}, description: "Kích hoạt Frizar Thần Hủy Diệt giải phóng năng lượng thần cấp mang sức mạnh hủy diệt vũ trụ"},
              ],
            ],
            thumbnail: {src: imgCommonPC+"visual_character_05.png", alt: ""},
            title: "Frizar",
          }).is-frizar
          +slideCommonCharacter({
            id: "04",
            cardCharacter: [
              {attributes: {class: "is-overview"}, label: "Khái quát<span class=\"c-card-character__label-extra u-display-sp\">Thông tin nhân vật</span>", detail: "Hoàng tử kiêu hãnh của Tộc Sayyan. Vegiita sở hữu sức mạnh sát thương vật lý tàn bạo, hủy diệt mọi thứ bằng cú nổ như trời giáng, biến anh trở thành chiến binh bất khuất trên chiến trường"},
              {attributes: {class: "is-style"}, label: "Lối chơi", detail: "Nhân vật này thuộc thể loại đấu sĩ dồn sát thương, sở hữu sức tấn công bùng nổ cực lớn."},
            ],
            sliderSkills: [
              [
                {icon: {src: imgCommonPC+"icon_skills_06_01.png", alt: "", caption: "1"}, title: {tag: "span", content: "Pháo galick"}, description: "Tích tụ năng lượng và bắn luồng năng lượng tím gây sát thương cực lớn"},
                {icon: {src: imgCommonPC+"icon_skills_06_02.png", alt: "", caption: "2"}, title: {tag: "span", content: "Đạn năng lượng"}, description: "Bẳn ra quả cầu năng lượng tấn công mục tiêu"},
                {icon: {src: imgCommonPC+"icon_skills_06_03.png", alt: "", caption: "3"}, title: {tag: "span", content: "Hóa khỉ"}, description: "Vegiita hoá thành khỉ đột tăng 1 lượng lớn sức mạnh cho bản thân"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_06_04.png", alt: "", caption: "4"}, title: {tag: "span", content: "Khí tức"}, description: "Bộc phát cơn thịnh nộ tăng sức mạnh bản thân"},
                {icon: {src: imgCommonPC+"icon_skills_06_05.png", alt: "", caption: "5"}, title: {tag: "span", content: "Phi thiên cước"}, description: "Dịch chuyển đến phía mục tiêu tung cú đá chí mạng"},
                {icon: {src: imgCommonPC+"icon_skills_06_06.png", alt: "", caption: "6"}, title: {tag: "span", content: "Bom hy sinh"}, description: "Dồn ép năng lượng của bản thân rồi giải phóng gây lên vụ nổ lớn gây sát thương diện rộng"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_06_07.png", alt: "", caption: "1"}, title: {tag: "span", content: "Siêu Sayyan 1"}, description: "Biến hình thành Siêu Sayyan 1 giúp tăng đột phá chỉ số trong thời gian nhất định"},
                {icon: {src: imgCommonPC+"icon_skills_06_08.png", alt: "", caption: "2"}, title: {tag: "span", content: "Siêu Sayyan 2"}, description: "Biến hình thành Siêu Sayyan 2 giúp khuếch đại toàn bộ chỉ số chiến đấu"},
                {icon: {src: imgCommonPC+"icon_skills_06_09.png", alt: "", caption: "3"}, title: {tag: "span", content: "Siêu Sayyan 3"}, description: "Biến hình thành Siêu Sayyan 3 giúp nâng giới hạn năng lượng và gia tăng sát thương vượt trội"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_06_10.png", alt: "", caption: "4"}, title: {tag: "span", content: "Siêu Sayyan 4"}, description: "Biến hình thành Siêu Sayyan 4 giúp khai phá sức mạnh phản sát thương"},
                {icon: {src: imgCommonPC+"icon_skills_06_11.png", alt: "", caption: "5"}, title: {tag: "span", content: "Siêu Sayyan God"}, description: "Khai mở sức mạnh Thần Sayyan God giải phóng nguồn năng lượng vô biên vượt giới hạn phàm nhân"},
                {icon: {src: imgCommonPC+"icon_skills_06_12.png", alt: "", caption: "6"}, title: {tag: "span", content: "Thần Sayyan Blue"}, description: "Thức tỉnh Thần Sayyan Blue đạt đến trạng thái cân bằng hoàn hảo giữa thể chất và thần lực"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_06_13.png", alt: "", caption: "7"}, title: {tag: "span", content: "Ultra Ego"}, description: "Khai phá sức mạnh Ultra Ego khiến cơ thể bộc phát năng lượng hủy diệt không giới hạn"},
              ],
            ],
            thumbnail: {src: imgCommonPC+"visual_character_06.png", alt: ""},
            title: "Vegiita",
          }).is-vegiita
          +slideCommonCharacter({
            id: "05",
            cardCharacter: [
              {attributes: {class: "is-overview"}, label: "Khái quát<span class=\"c-card-character__label-extra u-display-sp\">Thông tin nhân vật</span>", detail: "Sinh vật kỳ dị với hình dáng ngây thơ nhưng ẩn chứa sức mạnh hủy diệt. Majbbu sở hữu khả năng gây sát thương năng lượng khổng lồ, có thể tái tạo và hồi phục nhanh chóng, thậm chí biến mọi kẻ thù thành hình dạng quái dị"},
              {attributes: {class: "is-style"}, label: "Lối chơi", detail: "Nhân vật này thuộc hệ chiến binh khống chế với sức mạnh bền bỉ và sát thương diện rộng. Khả năng gây hiệu ứng khó lường."},
            ],
            sliderSkills: [
              [
                {icon: {src: imgCommonPC+"icon_skills_07_01.png", alt: "", caption: "1"}, title: {tag: "span", content: "Tia năng lượng"}, description: "Là đòn tích tụ và phóng ra luồng năng lượng màu hống gây sát thương lướn "},
                {icon: {src: imgCommonPC+"icon_skills_07_02.png", alt: "", caption: "2"}, title: {tag: "span", content: "Tia hóa kẹo"}, description: "Bắn tia sáng biến kẹ địch thành kẹo"},
                {icon: {src: imgCommonPC+"icon_skills_07_03.png", alt: "", caption: "3"}, title: {tag: "span", content: "Qủa cầu bạo kích"}, description: "Ném quả cầu năng lượng lớn vào đối thủ"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_07_04.png", alt: "", caption: "4"}, title: {tag: "span", content: "Thịt dẻo dai"}, description: "Ném ra khối thịt dẻo khiến kẻ địch bất động và giảm khả năng hồi phục"},
                {icon: {src: imgCommonPC+"icon_skills_07_05.png", alt: "", caption: "5"}, title: {tag: "span", content: "Liên hoàn đạn"}, description: "Bắn ra loạt đạnh năng lượng tấn công kẻ địch"},
                {icon: {src: imgCommonPC+"icon_skills_07_06.png", alt: "", caption: "6"}, title: {tag: "span", content: "Bộc phát tức giận"}, description: "Tích tụ cơn thịnh lộ của bản thận rồi bộc phát gây vụ nổ lớn gây sát thương diện rộng"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_07_07.png", alt: "", caption: "1"}, title: {tag: "span", content: "Majbbu Quái Ác"}, description: "Biến hình thành Majbbu Quái Ác giúp gia tăng sức mạnh và khả năng chiến đấu trên không"},
                {icon: {src: imgCommonPC+"icon_skills_07_08.png", alt: "", caption: "2"}, title: {tag: "span", content: "Siêu Majbbu Tàn Bạo"}, description: "Ném ra khối thịt dẻo khiến kẻ địch bất động và giảm khả năng hồi phục"},
                {icon: {src: imgCommonPC+"icon_skills_07_09.png", alt: "", caption: "3"}, title: {tag: "span", content: "Majbbu Hấp Thụ 1"}, description: "Biến hình thành Majbbu Hấp Thụ 1 giúp tăng mạnh chỉ số và khả năng chiến đấu trên không"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_07_10.png", alt: "", caption: "4"}, title: {tag: "span", content: "Majbbu Hấp Thụ 2"}, description: "Biến hình thành Majbbu Hấp Thụ 2 giúp đạt trạng thái cân bằng giữa công và hồi phục"},
                {icon: {src: imgCommonPC+"icon_skills_07_11.png", alt: "", caption: "5"}, title: {tag: "span", content: "Majbbu Hấp Thụ 3"}, description: "Giải phóng năng lượng Majbbu Hấp Thụ 3 giúp đạt trạng thái gần như bất khả chiến bại"},
                {icon: {src: imgCommonPC+"icon_skills_07_12.png", alt: "", caption: "6"}, title: {tag: "span", content: "Majbbu Hắc Ám"}, description: "Giải phóng sức mạnh Majbbu Hắc Ám khiến năng lượng hủy diệt bao trùm toàn thân"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_07_13.png", alt: "", caption: "7"}, title: {tag: "span", content: "Majbbu Tối Thượng"}, description: "Thức tỉnh Majbbu Tối Thượng đạt hình thái tối cao với năng lượng vô hạn và tăng chí mạng tuyệt đỉnh"},
              ],
            ],
            thumbnail: {src: imgCommonPC+"visual_character_07.png", alt: ""},
            title: "Majbbu",
          }).is-majbbu
          +slideCommonCharacter({
            id: "06",
            cardCharacter: [
              {attributes: {class: "is-overview"}, label: "Khái quát<span class=\"c-card-character__label-extra u-display-sp\">Thông tin nhân vật</span>", detail: "Sinh vật nhân tạo được tạo ra từ tế bào của những chiến binh mạnh nhất vũ trụ. Cellion mang trong mình sức mạnh sát thương vật lý khủng khiếp, kết hợp với bộ kỹ năng tiến hóa bậc nhất có thể nghiền nát cả hành tinh"},
              {attributes: {class: "is-style"}, label: "Lối chơi", detail: "Nhân vật này thuộc thể loại đấu sĩ với sức mạnh bền bỉ với nguốn sát thương lớn"},
            ],
            sliderSkills: [
              [
                {icon: {src: imgCommonPC+"icon_skills_03_01.png", alt: "", caption: "1"}, title: {tag: "span", content: "Cường kích"}, description: "Là đòn tích tụ và phóng ra luồng năng lượng cực mạnh từ hai bàn tay"},
                {icon: {src: imgCommonPC+"icon_skills_03_02.png", alt: "", caption: "2"}, title: {tag: "span", content: "Khiên phản lực"}, description: "Tạo lớp khiên giúp bản thân hồi phục và phản lại sát thương đối thủ"},
                {icon: {src: imgCommonPC+"icon_skills_03_03.png", alt: "", caption: "3"}, title: {tag: "span", content: "Đuôi hấp thụ"}, description: "Cắm đuôi vào mục tiêu trói và hút HP kẻ thù"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_03_04.png", alt: "", caption: "4"}, title: {tag: "span", content: "Nhân bảng ác quỷ"}, description: "Tạo da bản sao nhỏ của bản thân bay đến kẻ địch và gây sát thương"},
                {icon: {src: imgCommonPC+"icon_skills_03_05.png", alt: "", caption: "5"}, title: {tag: "span", content: "Vụ nổ cực hạn"}, description: "Giải phóng năng lượng của bản thân đến cực hạn gây lên vụ nổ lớn gây sát thương diện rộng"},
                {icon: {src: imgCommonPC+"icon_skills_03_06.png", alt: "", caption: "6"}, title: {tag: "span", content: "N.lượng tàn phá"}, description: "Tạo ra quả cẩu năng lượng khổng nồ tấn công đối thủ"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_03_07.png", alt: "", caption: "1"}, title: {tag: "span", content: "Cellion Chưa Hoàn Thiện"}, description: "Biến hình thành Cellion Chưa Hoàn Thiện giúp hấp thụ sát thương và hút HP"},
                {icon: {src: imgCommonPC+"icon_skills_03_08.png", alt: "", caption: "2"}, title: {tag: "span", content: "Cellion Tiến Hóa"}, description: "Biến hình thành Cellion Tiến Hóa giúp tăng tốc độ hấp thụ hút HP và khả năng tấn công"},
                {icon: {src: imgCommonPC+"icon_skills_03_09.png", alt: "", caption: "3"}, title: {tag: "span", content: "Cellion Bán Hoàn Thiện"}, description: "Biến hình thành Cellion Bán Hoàn Thiện giúp hoàn thiện cơ thể và nâng toàn bộ chỉ số chiến đấu"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_03_10.png", alt: "", caption: "4"}, title: {tag: "span", content: "Cellion Hoàn Thiện"}, description: "Biến hình thành Cellion Hoàn Thiện giúp đạt đến cơ thể hoàn hảo và nâng cao chỉ số phản sát thương"},
                {icon: {src: imgCommonPC+"icon_skills_03_11.png", alt: "", caption: "5"}, title: {tag: "span", content: "Golden Cellion"}, description: "Khai phá hình thái Cellion Siêu Hoàn Thiện đạt tới đỉnh cao tiến hóa và sức mạnh"},
                {icon: {src: imgCommonPC+"icon_skills_03_12.png", alt: "", caption: "6"}, title: {tag: "span", content: "Cellion Max"}, description: "Kích hoạt Cellion Max hình thái tấn công tối đa với khả năng phòng thủ vô tận"},
              ],
              [
                {icon: {src: imgCommonPC+"icon_skills_03_13.png", alt: "", caption: "7"}, title: {tag: "span", content: "Cellion Max Tối Thượng"}, description: "Tiến hóa thành Cellion Max Tối Thượng đạt đỉnh cao sức mạnh và khả năng hủy diệt tuyệt đối"},
              ],
            ],
            thumbnail: {src: imgCommonPC+"visual_character_03.png", alt: ""},
            title: "Cellion",
          }).is-cellion
        .c-slider-character__arrow.u-effect-hover.swiper-button-prev.js-slider-simple__arrow
        .c-slider-character__arrow.u-effect-hover.swiper-button-next.js-slider-simple__arrow
        .c-pagination-sliding.swiper-pagination.js-slider-simple__pagination
  section.p-section-top-news
    h2.c-title-primary.is-align-right
      span.c-title-primary__wrapper Tin tức 
    +tabCommonNews()
    .u-wrapper
      .c-frame-tabbing.is-tab-active.js-tab__target(data-tab-id="tab-news tab-news-event")
        .c-frame-tabbing__wrapper
          +filtersCommonNews({id: "event"})
          +listCommonNews([
            {
              url: path+"/event/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_event_01.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/event/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_event_02.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/event/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_event_03.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
          ])
          +paginationCommon().is-neartitle
      .c-frame-tabbing.js-tab__target(data-tab-id="tab-news tab-news-activity")
        .c-frame-tabbing__wrapper
          +filtersCommonNews({id: "activity"})
          +listCommonNews([
            {
              url: path+"/activity/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_01.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/activity/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_02.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/activity/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_03.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
          ])
          +paginationCommon().is-neartitle
      .c-frame-tabbing.js-tab__target(data-tab-id="tab-news tab-news-tutorial")
        .c-frame-tabbing__wrapper
          +filtersCommonNews({id: "tutorial"})
          +listCommonNews([
            {
              url: path+"/tutorial/detail/",
              title: {tag: "h2", content: "Chức năng bang hội"},
              description: "Bang hội nơi những thành viên có cùng chí hướng tập trung lại và phát triển nhanh chóng",
              thumbnail: {src: imgCommonPC+"placeholder_activity_01.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/tutorial/detail/",
              title: {tag: "h2", content: "Chức năng luyện ngọc rồng"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_02.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/tutorial/detail/",
              title: {tag: "h2", content: "Chức năng ghép ngọc rồng"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_03.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
          ])
          +paginationCommon().is-neartitle
  section.p-section-top-gameplay
    h2.c-title-primary.is-align-left
      span.c-title-primary__wrapper Gameplay
    .p-slider-top-gameplay.js-slider-gameplay
      .p-slider-top-gameplay__viewport.swiper
        .p-slider-top-gameplay__wrapper.swiper-wrapper
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper(data-video-id="3JZ_D3ELwOQ")
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper(data-video-id="3JZ_D3ELwOQ")
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper(data-video-id="3JZ_D3ELwOQ")
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper(data-video-id="3JZ_D3ELwOQ")
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper(data-video-id="3JZ_D3ELwOQ")
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper(data-video-id="3JZ_D3ELwOQ")
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
        .p-slider-top-gameplay__arrow.u-effect-hover.swiper-button-prev.js-slider-gameplay__arrow
        .p-slider-top-gameplay__arrow.u-effect-hover.swiper-button-next.js-slider-gameplay__arrow
        .c-pagination-sliding.swiper-pagination.js-slider-gameplay__pagination
    .u-wrapper
      .video-popup#videoPopup
        .video-popup-overlay
        .video-popup-content
          button.close-video ✕
          .video-wrapper#videoWrapper
