extends ./_base/_layout.pug
block vars
  - var metaTitle = 'Home'
  - var path = '.'
  - var page = 'top'
  - var imgPC = path + '/resources/images/top/'
  - var imgSP = path + '/resources/images/top/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

block content
  section.p-visual-top
    .u-wrapper
      .p-banner-top-visual
        .p-banner-top-visual__wrapper.u-display-pc
          h1.p-banner-top-visual__logo
            img.u-image(src=imgPC+"logo_visual_01.png" alt="Logo")
          .p-banner-top-visual__background
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_01.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_02.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_03.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_04.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_05.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_06.png" alt="")
        .p-banner-top-visual__wrapper.u-display-sp
          img.u-image(src=imgSP+"logo_visual_01.png" alt="Logo")
      ul.p-list-top-system
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_01.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Download on the
                span.p-button-top-system__label-main App Store
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_02.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Get it on
                span.p-button-top-system__label-main Google Play
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_03.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Download for
                span.p-button-top-system__label-main Windows
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_04.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Download
                span.p-button-top-system__label-main APK
      a.p-button-top-highlight(href="#" target="_blank" rel="noopener")
        .p-button-top-highlight__wrapper
          span.p-button-top-highlight__label TẢI NGAY
  section.p-section-top-news
    h2.c-title-primary.is-align-right
      span.c-title-primary__wrapper Tin tức 
    +tabCommonNews()
    .u-wrapper
      .c-frame-tabbing.is-tab-active.js-tab__target(data-tab-id="tab-category tab-category-event")
        .c-frame-tabbing__wrapper
          +filtersCommonNews({id: "event"})
          +listCommonNews([
            {
              url: path+"/event/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_event_01.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/event/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_event_02.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/event/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_event_03.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
          ])
          +paginationCommon()
      .c-frame-tabbing.js-tab__target(data-tab-id="tab-category tab-category-activity")
        .c-frame-tabbing__wrapper
          +filtersCommonNews({id: "activity"})
          +listCommonNews([
            {
              url: path+"/activity/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_01.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/activity/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_02.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/activity/detail/",
              title: {tag: "h2", content: "Sự kiện nạp tân thủ"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_03.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
          ])
          +paginationCommon()
      .c-frame-tabbing.js-tab__target(data-tab-id="tab-category tab-category-tutorial")
        .c-frame-tabbing__wrapper
          +filtersCommonNews({id: "tutorial"})
          +listCommonNews([
            {
              url: path+"/tutorial/detail/",
              title: {tag: "h2", content: "Chức năng bang hội"},
              description: "Bang hội nơi những thành viên có cùng chí hướng tập trung lại và phát triển nhanh chóng",
              thumbnail: {src: imgCommonPC+"placeholder_activity_01.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/tutorial/detail/",
              title: {tag: "h2", content: "Chức năng luyện ngọc rồng"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_02.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
            {
              url: path+"/tutorial/detail/",
              title: {tag: "h2", content: "Chức năng ghép ngọc rồng"},
              description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
              thumbnail: {src: imgCommonPC+"placeholder_activity_03.jpg", alt: ""},
              date: {value: "15/09/2025", format: "2025-09-15"},
              views: 9686,
            },
          ])
          +paginationCommon()
  section.p-section-top-gameplay
    h2.c-title-primary.is-align-left
      span.c-title-primary__wrapper Gameplay
    .p-slider-top-gameplay.js-slider-gameplay
      .p-slider-top-gameplay__viewport.swiper
        .p-slider-top-gameplay__wrapper.swiper-wrapper
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
          .p-slider-top-gameplay__slide.swiper-slide
            .p-slider-top-gameplay__slide-wrapper
              img.u-object(src=imgPC+"slide_gameplay_01.jpg" alt="")
              a.p-icon-top-play.u-effect-hover(href="#" target="_blank" rel="noopener")
        .p-slider-top-gameplay__arrow.u-effect-hover.swiper-button-prev
        .p-slider-top-gameplay__arrow.u-effect-hover.swiper-button-next
        .p-slider-top-gameplay__pagination.swiper-pagination