extends ./_base/_layout.pug
block vars
  - var metaTitle = 'Home'
  - var path = '.'
  - var page = 'top'
  - var imgPC = path + '/resources/images/top/'
  - var imgSP = path + '/resources/images/top/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

block content
  section.p-visual-top
    .u-wrapper
      .p-banner-top-visual
        .p-banner-top-visual__wrapper.u-display-pc
          h1.p-banner-top-visual__logo
            img.u-image(src=imgPC+"logo_visual_01.png" alt="Logo")
          .p-banner-top-visual__background
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_01.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_02.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_03.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_04.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_05.png" alt="")
            .p-banner-top-visual__background-image.js-effect-eyesfollow
              .p-banner-top-visual__image-wrapper  
                img.u-image(src=imgPC+"character_visual_06.png" alt="")
        .p-banner-top-visual__wrapper.u-display-sp
          img.u-image(src=imgSP+"logo_visual_01.png" alt="Logo")
      ul.p-list-top-system
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_01.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Download on the
                span.p-button-top-system__label-main App Store
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_02.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Get it on
                span.p-button-top-system__label-main Google Play
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_03.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Download for
                span.p-button-top-system__label-main Windows
        li.p-list-top-system__item
          a.p-button-top-system.u-effect-hover(href="#" target="_blank" rel="noopener")
            span.p-button-system__shadow
            .p-button-top-system__wrapper
              figure.p-button-top-system__icon
                img.u-image(src=imgPC+"icon_system_04.svg" alt="")
              span.p-button-top-system__label
                span.p-button-top-system__label-sub Download
                span.p-button-top-system__label-main APK
      a.p-button-top-highlight(href="#" target="_blank" rel="noopener")
        .p-button-top-highlight__wrapper
          span.p-button-top-highlight__label TẢI NGAY
  section.p-top-gameplay
    .u-wrapper
      .p-list-top-gameplay.js-game-play__slider
        .swiper.p-list-top__wrapper
          .swiper-wrapper
            .swiper-slide
              .slide-image
                img.u-object(src=imgPC+"gameplay_img_01.jpg" width="895" height="485" loading="eager" alt="")
                .play-button
            .swiper-slide
              .slide-image
                img.u-object(src=imgPC+"gameplay_img_02.jpg" width="895" height="485" loading="eager" alt="")
                .play-button
            .swiper-slide
              .slide-image
                img.u-object(src=imgPC+"gameplay_img_03.jpg" width="895" height="485" loading="eager" alt="")
                .play-button
            .swiper-slide
              .slide-image
                img.u-object(src=imgPC+"gameplay_img_01.jpg" width="895" height="485" loading="eager" alt="")
                .play-button
            .swiper-slide
              .slide-image
                img.u-object(src=imgPC+"gameplay_img_02.jpg" width="895" height="485" loading="eager" alt="")
                .play-button
            .swiper-slide
              .slide-image
                img.u-object(src=imgPC+"gameplay_img_03.jpg" width="895" height="485" loading="eager" alt="")
                .play-button
          .swiper-button-prev
          .swiper-button-next
          .swiper-pagination