block vars
  - var classPage = ''
  - var metaTitle = ''
  - var path = ''
  - var page = ''

mixin filtersCommonNews(data)
  .c-filters-news&attributes(attributes)
    ul.c-filters-news__wrapper
      li.c-filters-news__entry
        span.c-filters-news__entry-wrapper.is-tab-active.js-tab__toggle(data-tab-id="filters-"+data.id) Tất cả
      li.c-filters-news__entry
        span.c-filters-news__entry-wrapper.js-tab__toggle(data-tab-id="filters-"+data.id+" filters-"+data.id+"-newest") Mới nhất
      li.c-filters-news__entry
        span.c-filters-news__entry-wrapper.js-tab__toggle(data-tab-id="filters-"+data.id+" filters-"+data.id+"-oldest") Cũ nhất
    .c-filters-news__extra
      .c-input-search
        input(type="text" placeholder="Tìm kiếm")
        button(type="submit")

mixin listCommonNews(data)
  ul.c-list-news&attributes(attributes)
    each item in data
      li.c-list-news__item
        a.c-list-news__item-wrapper(href=item.url)
          .c-list-news__item-thumbnail
            figure.thumbnail-wrapper
              img.u-object(src=item.thumbnail.src alt=item.thumbnail.alt)
          .c-list-news__item-information
            #{item.title.tag}.c-list-news__information-title!=item.title.content
            .c-list-news__information-detail
              p!=item.description
            .c-properties-information
              time.c-properties-information__date(datetime=item.date.format)
                span.c-properties-information__date-wrapper!=item.date.value
              .c-icon-views
                span.c-icon-views__wrapper!=item.views

mixin breadcrumbCommon(data)
  nav.c-breadcrumb&attributes(attributes)
    .u-wrapper
      ul.c-breadcrumb__wrapper
        li.c-breadcrumb__entry
          a.c-breadcrumb__entry-wrapper(href=path+"/") Trang chủ
        each entry in data
          li.c-breadcrumb__entry
            if(entry.url===null)
              span.c-breadcrumb__entry-wrapper!=entry.title
            else
              a.c-breadcrumb__entry-wrapper(href=entry.url)!=entry.title

mixin paginationCommon()
  .c-pagination&attributes(attributes)
    .c-pagination__arrow
      a.c-pagination__arrow-wrapper.is-first(href="#")
    .c-pagination__arrow
      a.c-pagination__arrow-wrapper.is-previous(href="#")
    ol.c-pagination__wrapper
      li.c-pagination__entry
        a.c-pagination__entry-wrapper(href="#") 1
      li.c-pagination__entry
        a.c-pagination__entry-wrapper(href="#") 2
      li.c-pagination__entry
        a.c-pagination__entry-wrapper(href="#") 3
      li.c-pagination__dots
        span.c-pagination__dots-wrapper . . .
      li.c-pagination__entry
        span.c-pagination__entry-wrapper.is-current 99
    .c-pagination__arrow
      span.c-pagination__arrow-wrapper.is-next.is-disabled
    .c-pagination__arrow
      span.c-pagination__arrow-wrapper.is-last.is-disabled

doctype html
html(lang="en" class="is-page-"+page)
  head
    meta(charset="UTF-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{metaTitle}
    if(["top"].includes(page))
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css")
    link(rel="stylesheet" href=path+"/css/styles.css")
  body
    include ../_parts/_header.pug
    main.l-main
      block content
    include ../_parts/_footer.pug
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    if(["top"].includes(page))
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js")
    script(src=path+"/js/scripts.js") 

