footer.l-footer-common
  .l-footer-common__wrapper
    .l-block-footer-navigation
      .u-wrapper
        .l-block-footer-navigation__information
          figure.l-logo-footer
            img.u-image(src=imgCommonPC+"logo_company_01.svg" alt="")
          .l-block-footer-navigation__information-detail
            p - Giấy phép G1: Số 12/GP-BTTTT do Bộ Thông tin & Truyền thông - cấp ngày 15/01/2024.<br>- Giấy phép G2, G3, G4: Số 78/GCN-PTTH&TTĐT do Cục Phát thanh, Truyền hình & Thông tin điện tử cấp ngày 19/05/2023.<br>- Quyết định phê duyệt nội dung kịch bản: Số 999/QĐ-PTTH&TTĐT phê duyệt cho trò chơi Vũ Trụ Đại Chiến ngày 31/10/2025.
        .l-block-footer-navigation__contact
          span.l-block-footer-navigation__contact-label Liên hệ
          ul.l-block-footer-navigation__contact-list
            li.l-block-footer-navigation__list-item
              a.l-block-footer-navigation__item-wrapper(href="mailto:vutrudaichien@gmail.com") Vutrudaichien@gmail.com
            li.l-block-footer-navigation__list-item
              a.l-block-footer-navigation__item-wrapper(href="tel:0332499999") 0332499999
          ul.l-list-footer-sns
            li.l-list-footer-sns__item
              a.l-list-footer-sns__item-wrapper(href="#" target="_blank" rel="noopener")
                img.u-object(src=imgCommonPC+"icon_sns_01.svg" alt="")
            li.l-list-footer-sns__item
              a.l-list-footer-sns__item-wrapper(href="#" target="_blank" rel="noopener")
                img.u-object(src=imgCommonPC+"icon_sns_02.svg" alt="")
            li.l-list-footer-sns__item
              a.l-list-footer-sns__item-wrapper(href="#" target="_blank" rel="noopener")
                img.u-object(src=imgCommonPC+"icon_sns_03.svg" alt="")
            li.l-list-footer-sns__item
              a.l-list-footer-sns__item-wrapper(href="#" target="_blank" rel="noopener")
                img.u-object(src=imgCommonPC+"icon_sns_04.svg" alt="")
    .l-credits-footer
      .u-wrapper
        small.l-credits-footer__wrapper ©Sky mobile Entertainment Inc.