header.l-header
  .l-logo-header
    a.l-logo-header__wrapper(href="#")
      img.u-image(src=imgCommonPC+"logo_primary_01.png" alt="Logo")
  .l-navigation-header
    .l-navigation-header__wrapper
      ul.l-menu-header
        li.l-menu-header__entry
          a.l-menu-header__entry-wrapper(class=page==="top"?"is-current":"" href=path+"/") 
            span.l-menu-header__entry-label Trang chủ
        li.l-menu-header__entry
          a.l-menu-header__entry-wrapper(class=page==="event"?"is-current":"" href=path+"/event/")
            span.l-menu-header__entry-label Sự kiện
        li.l-menu-header__entry
          a.l-menu-header__entry-wrapper(class=page==="activity"?"is-current":"" href=path+"/activity/") 
            span.l-menu-header__entry-label Hoạt động
        li.l-menu-header__entry
          a.l-menu-header__entry-wrapper(class=page==="tutorial"?"is-current":"" href=path+"/tutorial/") 
            span.l-menu-header__entry-label Hướng dẫn
        li.l-menu-header__entry
          a.l-menu-header__entry-wrapper(href=path+"/") 
            span.l-menu-header__entry-label Đăng ký
      a.l-button-header-login(href=path+"/") 
        .l-button-header-login__wrapper
          span.l-button-header-login__label ĐĂNG NHẬP
  span.l-button-header-burger.u-display-sp.js-click